.terraform
.terraform.lock.hcl
2nd-class-variable/terraform.tfstate.backup
.terraform/providers/registry.terraform.io/hashicorp/aws/3.68.0/linux_amd64/terraform-provider-aws_v3.68.0_x5
3rd-class-modules/.terraform.lock.hcl
3rd-class-modules/.terraform/providers/registry.terraform.io/hashicorp/aws/3.68.0/linux_amd64
4th-class-split-files/.terraform.lock.hcl
5th-class-provisioner/.terraform
5th-class-provisioner/.terraform/terraform.tfstate
6th-class-azure-provoder/.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.88.1/linux_amd64
6th-class-azure-provoder/terraform.tfstate
7th-class-variables-and-output/.terraform
8th-class-submodules/.terraform.tfstate.lock.info
9th-class-resource-meta-argument/.terraform